@keyframes slidefromleft {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(25%, 25%;)
  }
}
@keyframes slidefromtop{
	from{
		transform: translate(0%, -50%);
	}
	to{
		transform: translate(25%, %);
	}
}
@keyframes slidefromright{
	from{
		transform: translate(75%, 0%);
	}
	to{
		transform: translate(0%, 0%);
	}
}
body{
	overflow-x:hidden;
	margin: 0px;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
.flex{
	display: flex;
}
.container{
	padding-bottom: 50px;
	align-items: center;
}
#c2{
	color: #d4d4d4;
	background-color: #434852;
}
#c1{
	text-align: center;
	color: #313131;
	animation: 1.5s slidefromleft ease-out;
}

.animhead{
	animation:1s slidefromtop ease-out;
}
.headlinks{
	padding-top: 20px;	
}
.headlink{
	padding-top: 20px;
	color: #d4d4d4;
	margin-left: 12%;
	font-size: 20px;
	font-weight: bold;
}
.flexhead{
	margin-top: 50px;
	align-items:center;
	display: flex;
}
.imagehead{
	background-color: #777a81;
	width: 500px;
	height: 500px;
	margin: 20px 100px;
}
.middleheadh1{
	font-size: 40px;
	text-align: center;
}
.middleheadh2{
	font-size: 20pt;
	margin-top: 50px;
	text-align: center;
	width: 500px;
}
.c1one{
	padding-top: 100px;
	padding-bottom: 100px;
}
.c1onetxt{
	padding-top: 50px;
}
.blackboxtf2{
	margin-top: 50px;
	background-color: #434852;
	width: 800px;
	height: 310px;
}
.fdcfwacc{
	display: flex;
	align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#c1onetxtbox{
	color: #d4d4d4;
}
#c1onetxtbox a{
	color: #d4d4d4;
}
.grayblackbg{
	text-align: center;
	overflow: hidden;
	padding: 50px 300px;
}
.animcont2{
	animation: 1.5s slidefromright ease-out;
}
.gbbgtxth1{
	margin-top: 10px;
	font-size: 45px;
}
.goleft{
	text-align: left;
	margin-left: -212px;
}
.gbbgtxth2{
	margin-left: 270px;
	margin-top: 80px;
	width: 400px;
	font-size: 35px;
}
.butndiv{
	margin-left: 41%;
	margin-top: 110px; 
	border: none;
	background-color: #4eaa57;
	height: 100px;
	width: 300px;
	border-radius: 50px;
	text-align: center;
}
.butnh1{
	padding: 30px;
	color: #d4d4d4;
}
.imgdiv{
	width:400px;
	height: 450px;
	margin-left: 400px;
	background-color: #777a81;
}
.lasth1{
	margin-top: 50px;
	font-size: 30pt;
}
.prelasth2{
	width: 500px;
}
.myprojects{
	display: flex;
    margin-top: 69px;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects:last-child{
	margin-left: 500px;
}
.projectspng{
	width: 370px;
	height:  200px;
}
#needs2blonger{
	width: 370px;
}
.maybelasth1{
	width: 500px;
}
.butndiv1{
	margin-top: 110px; 
	border: none;
	background-color: #4eaa57;
	height: 100px;
	width: 300px;
	border-radius: 50px;
	text-align: center;
	margin-left: auto;
}
#fdc1{
	align-items: center;
}
		/*sorry, pseudo-classes don't work for some reason*/
.ihatea{
	color: #d4d4d4;
	padding-top: 50px;
	font-size: 30px;
	width: 140px;
}
.flex:last-child{
	flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 480px) {
	
	.headlink:nth-last-child(2){
		margin-left: 120px;	
	}
	.headlink:last-child{
		margin-left: 70px;
	}
	.imagehead{
		display: none;
	}
	.middleheadh1{
		font-size: 40px;
	}
	.middleheadh2{
		width: auto;
	}
	.blackboxtf2{
		margin-left: auto;
		width: 100%;
	}
	.grayblackbg{
		padding: 50px 15px;
	}
	.goleft{
		text-align: center;
	}
	h2#gbbgtxt {
	font-size: 19px;
	}
	.gbbgtxth2 {
		margin-top: 0px;
	}
	.imgdiv{
		display: none;
	}
	.butndiv{
		margin-left: 40px;
		text-align: center;
	}
	.prelasth2 {
    	width: 100%;
    	font-size: 15px;
    	margin-left: auto;
    }
    .myprojects{
    	display: block;
    	align-items: center;
    }
    .projects{
    	margin-left:auto;
    }
    .maybelasth1{
    	width: 430px;
    	font-size: 20px;
    	margin-left: auto;
    	margin-top: 50px;
    } 
    .butndiv:last-child{
    	margin-top: auto;
    	margin-left: 60px;
    }
    .flex{
    	width: 100%;
    }
    .ihatea {
  	  color: #d4d4d4;
  	  padding-top: 34px;
  	  font-size: 25px;
  	  margin-left: 25px;
  	  width: 117px;
    	}
}